* {
  text-align: center;
}

.heading {
  font-family: Arial;
  margin-top: 40vh;
}

.url-input,
.convert-button {
  font-size: 1.3em;
  padding: 5px 10px;
}

.url-input {
  border-radius: 4px 0px 0px 4px;
  width: 30em;
  text-align: left;
  border: 2px solid #EEEEEEEE;
  background: #EEEEEEEE;
  outline: none;
}

.url-input:focus {
  border: 2px solid #0485ff;
}

.convert-button {
  border-radius: 0px 4px 4px 0px;
  border: 2px solid #0485ff;
  background: #0485ff;
  color: white;
}

#progress-bar {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
  width: 30%;
  margin-top: 1rem
}

#progress-bar-block {
  margin-top: 2rem;
  display: none;
}

#error-message-block {
  display: none;
}

.loading {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #0485ff; /* Blue */
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
	margin-left:inherit;
	margin-right:inherit;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#loading-block {
	margin:1rem auto;
  display: none;
}
